@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');
:root {
    --brand-regular: #0CC998, 100%;
    --brand-dark: #103C21;

    --white: #FFFFFF;
    --offwhite: #F9F9F9;
    --gray: #EEEEEE;

    --black: #000;
    --primary-green: #0CC998, 100%;

    
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 400;
}

html {
    font-family: 'Baloo 2', cursive;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--gray);
}

p, h1, h2, h3, h4, h5, h6,  div, li {
    font-family: 'Inter';
}

h1 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: var(--primary-green);
}

/*Section Header*/
h2 { 
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    color: var(--black);
}

